利用map()函数，把用户输入的不规范的英文，变成首字母大写，其他小写的规范的名字：比如说["ADMAm","LISA","JACk"]
["Admam","Lisa","Jack"]

In [2]:
def standards(s):
#     t = '0'
    t = s.lower() # 将s全部小写
    t = t.capitalize() # 将t的首字母大写
    print(t)
    return t

list(map(standards,["ADMAm","LISA","JACk"]))

Admam
Lisa
Jack

['Admam', 'Lisa', 'Jack']

回数：从左向右和从右向左读都是一样的数，例如 12321，999，请利用filter()函数

In [3]:
def equal(a,b):
    return a==b

def is_palindrome(n):
    s = str(n) # 先转换成字符串
    for i in range(len(s)-1):
        if equal(s[i],s[len(s)-i-1]):
            continue
        else:
            return False
    return True

output = filter(is_palindrome,range(1,1000))
print("1~1000:",list(output))

1~1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

假设，我们用一组tuple来表示学生的名字和成绩，L = [("Bob",75),("Adam",92),("Bart",66),("List",88)] 用sorted()对上述列表按照名字排序

In [4]:
L = [("Bob",75),("Adam",92),("Bart",66),("List",88)]

def by_name(t):
    t = sorted(t[0],key=str.lower)
    return t

L2 = sorted(L,key=by_name)
print(L2)

[('Adam', 92), ('Bob', 75), ('Bart', 66), ('List', 88)]

再按照成绩高低进行排序

In [7]:
def by_score(t):
    t = sorted(range(t[1]),key=abs)
    return t

L2 = sorted(L,key=by_score)
print(L2)

[('Bart', 66), ('Bob', 75), ('List', 88), ('Adam', 92)]